body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background: #f1f4f4;
	margin-bottom: 10px;
}

.uplable {
	display: block;
	width: 90px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;
}

.uplable:hover {
	background-color: cornflowerblue;
	cursor: pointer;
}

.uplable:active {
	background-color: mediumaquamarine;
}

.downlable {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;  
}
.upload {
	display: block;
	width: 90px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	
}
.download {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 5px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;
	cursor: pointer;

}
.certificateuplod{
	display: block;
	width: 150px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;
	height: 60px;
	align-items: center;
	
}
.certificatedownlod{
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height:1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;
}
.itemupload{
	display: block;
	width: 200px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;
}
.itemdownload{
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 5px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;

}
.itemlistloade{
	display: block;
	width: 200px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;

}
.itemlistdownload{
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 5px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;

}



/* table tr {

	padding: 0;
}
td{
	padding: 2px !important;
} */

.hover:hover{
	background-color: cornflowerblue !important;
	cursor: pointer;
}



.MuiDataGrid-root .pagination {
	display:"none"
  }