/* styles.css */

.page {
    size: landscape;
    margin: 1cm;
    border: 1px solid black;
  }
  
  .pageHeader {
    height: 100%;
    position: fixed;
    top: 0mm;
    width: 100%;
  }
  
  .pageHeaderSpace {
    height: 100px;
  }
  
  .pageFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .pageFooterSpace {
    height: 25px;
  }
  
  .pageBreak {
    page-break-after: always;
    margin: 1cm;
  }
  
  .pageMargin {
    margin: 1cm; 
  }
  
  @media print {
    thead {
      display: table-header-group;
    }
    
    tfoot {
      display: table-footer-group;
    }
    
    body {
      margin: 0;
    }
  }
  