.uplable {
	display: block;
	width: 90px;
	max-width: 300px;
	background-color: #e6e6e6;
	border-radius: 5px;
	font-size: 1em;
	line-height: 2.42em;
	text-align: center;
	font-weight: bold;
}

.uplable:hover {
	background-color: cornflowerblue;
}

.uplable:active {
	background-color: mediumaquamarine;
}

.downlable {
	border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
	background-color: #e6e6e6;  
}

.table-responsive {
    max-height:400px;
	cursor: pointer;
}

table tr {
	
	padding: 0;
}
td{
	padding: 2px !important;
}

.hover:hover{
	background-color: cornflowerblue !important;
}